*{
	box-sizing: border-box;
}

h1{
	color: red;
}

body{
	position: relative;
}

div{
	position: relative;
	float: left;
	padding: 0 0 10px;
	margin: 10px;
	border: 1px solid black;
	width : 30%;
	background-color: #0eff0e;
	
}

section{
	position: absolute;
	text-align: center;
	right: 0;
	background-color: rgb(220,140,160);
	width: 20%;
	border: 1px solid;
}

/**** Large Devices ****/
@media(min-width: 992px){
	div{
		width : 30%;
	}
}

/*** Medium Devices ***/
@media(min-width: 768px) and (max-width: 991px){
	div{
		width:45%;
		float: left;
	}
	#row{
		width: 92%;
	}
}

/*** Mobile Devices ***/
@media(max-width: 767px){
	div{
		width: 95%;
	}
}